[Unit]
Description=Open5GS NSSF Daemon
After=network-online.target

[Service]
Type=simple

User=root
Group=root

Restart=always
ExecStart=/root/open5gs/install/bin/open5gs-nssfd -c /root/open5gs/install/etc/open5gs/nssf.yaml
RestartSec=2
RestartPreventExitStatus=1
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
